.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.002930;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:28.000000px;}
.fs2{font-size:36.000000px;}
.fs0{font-size:44.000000px;}
.y14{bottom:-9.752001px;}
.y1f{bottom:1.385000px;}
.yd{bottom:2.881000px;}
.y19{bottom:3.531001px;}
.yb{bottom:9.681000px;}
.y0{bottom:66.000000px;}
.ya{bottom:69.651989px;}
.y1d{bottom:115.631009px;}
.y1b{bottom:142.622997px;}
.y1a{bottom:142.735973px;}
.y1c{bottom:181.356949px;}
.y18{bottom:293.636004px;}
.y11{bottom:322.096002px;}
.y17{bottom:322.245996px;}
.y16{bottom:347.196008px;}
.y10{bottom:349.145989px;}
.y15{bottom:373.596002px;}
.yf{bottom:375.546014px;}
.y13{bottom:397.946008px;}
.ye{bottom:399.895989px;}
.y12{bottom:424.995996px;}
.yc{bottom:426.995996px;}
.y9{bottom:458.763999px;}
.y7{bottom:509.648002px;}
.y8{bottom:512.981002px;}
.y6{bottom:535.090003px;}
.y25{bottom:546.356003px;}
.y5{bottom:560.532004px;}
.y20{bottom:571.697998px;}
.y1e{bottom:571.798004px;}
.y4{bottom:585.973998px;}
.y3{bottom:611.415999px;}
.y21{bottom:622.132004px;}
.y23{bottom:622.360992px;}
.y24{bottom:622.382004px;}
.y22{bottom:622.761002px;}
.y2{bottom:636.858001px;}
.y1{bottom:662.300003px;}
.h9{height:8.400000px;}
.h6{height:11.800000px;}
.h7{height:12.450001px;}
.h4{height:18.600001px;}
.h3{height:23.091797px;}
.h5{height:29.689453px;}
.h2{height:36.287109px;}
.h8{height:124.550009px;}
.h1{height:655.500000px;}
.h0{height:792.000000px;}
.wa{width:26.400000px;}
.wb{width:31.900000px;}
.wc{width:33.200001px;}
.we{width:38.000000px;}
.wf{width:38.037716px;}
.wd{width:48.905670px;}
.w4{width:112.050003px;}
.w9{width:114.099998px;}
.w6{width:135.800003px;}
.w3{width:145.350006px;}
.w7{width:154.150009px;}
.w8{width:163.698120px;}
.w5{width:190.350006px;}
.w2{width:339.616943px;}
.w1{width:541.500000px;}
.w0{width:612.000000px;}
.xd{left:7.550000px;}
.x1a{left:9.293000px;}
.x13{left:11.341000px;}
.x1d{left:14.602000px;}
.x11{left:16.932000px;}
.x21{left:18.143002px;}
.x1f{left:19.392001px;}
.x16{left:46.369000px;}
.xb{left:48.210000px;}
.x0{left:70.500000px;}
.xc{left:91.650002px;}
.x2{left:120.450002px;}
.x12{left:124.699997px;}
.x23{left:127.670998px;}
.xa{left:162.171005px;}
.x10{left:174.300003px;}
.x24{left:233.479004px;}
.xe{left:251.050003px;}
.x1c{left:278.628998px;}
.x1{left:290.200009px;}
.x3{left:353.778989px;}
.x4{left:357.326993px;}
.x1e{left:359.649994px;}
.x14{left:369.850006px;}
.x17{left:395.178986px;}
.x5{left:407.567990px;}
.x6{left:411.115994px;}
.xf{left:421.649994px;}
.x15{left:429.899994px;}
.x20{left:432.299988px;}
.x18{left:440.278992px;}
.x19{left:478.821014px;}
.x7{left:485.774014px;}
.x8{left:489.321988px;}
.x22{left:502.871002px;}
.x1b{left:515.270996px;}
.x9{left:545.041989px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:37.333333pt;}
.fs2{font-size:48.000000pt;}
.fs0{font-size:58.666667pt;}
.y14{bottom:-13.002668pt;}
.y1f{bottom:1.846667pt;}
.yd{bottom:3.841334pt;}
.y19{bottom:4.708001pt;}
.yb{bottom:12.908001pt;}
.y0{bottom:88.000000pt;}
.ya{bottom:92.869319pt;}
.y1d{bottom:154.174678pt;}
.y1b{bottom:190.163996pt;}
.y1a{bottom:190.314631pt;}
.y1c{bottom:241.809265pt;}
.y18{bottom:391.514671pt;}
.y11{bottom:429.461336pt;}
.y17{bottom:429.661327pt;}
.y16{bottom:462.928010pt;}
.y10{bottom:465.527986pt;}
.y15{bottom:498.128002pt;}
.yf{bottom:500.728018pt;}
.y13{bottom:530.594677pt;}
.ye{bottom:533.194653pt;}
.y12{bottom:566.661327pt;}
.yc{bottom:569.327994pt;}
.y9{bottom:611.685332pt;}
.y7{bottom:679.530669pt;}
.y8{bottom:683.974669pt;}
.y6{bottom:713.453337pt;}
.y25{bottom:728.474670pt;}
.y5{bottom:747.376006pt;}
.y20{bottom:762.263997pt;}
.y1e{bottom:762.397339pt;}
.y4{bottom:781.298664pt;}
.y3{bottom:815.221333pt;}
.y21{bottom:829.509338pt;}
.y23{bottom:829.814657pt;}
.y24{bottom:829.842672pt;}
.y22{bottom:830.348002pt;}
.y2{bottom:849.144001pt;}
.y1{bottom:883.066671pt;}
.h9{height:11.200000pt;}
.h6{height:15.733334pt;}
.h7{height:16.600001pt;}
.h4{height:24.800001pt;}
.h3{height:30.789062pt;}
.h5{height:39.585938pt;}
.h2{height:48.382812pt;}
.h8{height:166.066679pt;}
.h1{height:874.000000pt;}
.h0{height:1056.000000pt;}
.wa{width:35.199999pt;}
.wb{width:42.533333pt;}
.wc{width:44.266668pt;}
.we{width:50.666667pt;}
.wf{width:50.716955pt;}
.wd{width:65.207560pt;}
.w4{width:149.400004pt;}
.w9{width:152.133331pt;}
.w6{width:181.066671pt;}
.w3{width:193.800008pt;}
.w7{width:205.533346pt;}
.w8{width:218.264160pt;}
.w5{width:253.800008pt;}
.w2{width:452.822591pt;}
.w1{width:722.000000pt;}
.w0{width:816.000000pt;}
.xd{left:10.066667pt;}
.x1a{left:12.390667pt;}
.x13{left:15.121333pt;}
.x1d{left:19.469334pt;}
.x11{left:22.576000pt;}
.x21{left:24.190669pt;}
.x1f{left:25.856002pt;}
.x16{left:61.825334pt;}
.xb{left:64.280000pt;}
.x0{left:94.000000pt;}
.xc{left:122.200002pt;}
.x2{left:160.600002pt;}
.x12{left:166.266663pt;}
.x23{left:170.227997pt;}
.xa{left:216.228007pt;}
.x10{left:232.400004pt;}
.x24{left:311.305339pt;}
.xe{left:334.733337pt;}
.x1c{left:371.505330pt;}
.x1{left:386.933346pt;}
.x3{left:471.705318pt;}
.x4{left:476.435991pt;}
.x1e{left:479.533325pt;}
.x14{left:493.133341pt;}
.x17{left:526.905314pt;}
.x5{left:543.423987pt;}
.x6{left:548.154659pt;}
.xf{left:562.199992pt;}
.x15{left:573.199992pt;}
.x20{left:576.399984pt;}
.x18{left:587.038656pt;}
.x19{left:638.428019pt;}
.x7{left:647.698686pt;}
.x8{left:652.429317pt;}
.x22{left:670.494670pt;}
.x1b{left:687.027995pt;}
.x9{left:726.722652pt;}
}
