/************************************************************************************************
*
* Styles in General
*
************************************************************************************************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
/************************************************************************************************
*
* Styles GRID
*
************************************************************************************************/
.flex{
    display: flex !important;
}

.align-items-flex-end{
    align-items: flex-end !important;
}

.align-items-center{
    align-items: center !important;
}

.justify-content-center{
    justify-content: center !important;
}

.justify-content-flex-end{
    justify-content: flex-end !important;
}

th.rotate {
    /* Something you can count on */
    padding-top: 60px;
    height: 140px;
    white-space: nowrap;
    vertical-align: inherit !important;
  }
  
  th.rotate > div {
    transform: 
      /* Magic Numbers */
      translate(10px, 51px)
      /* 45 is really 360 - 45 */
      rotate(270deg);
    width: 0px;
  }
  th.rotate > div > span {
    padding: 5px 10px;
  }
