@import 'nib'
vendor-prefixes = o mz ms official webkit

/************************************************************************************************
*
* Variables
*
************************************************************************************************/
// main-blue = #13629D
// main-blue-weak = #60afeb
// main-blue-strong = #0e4671
main-blue = #B38E5D
main-blue-weak = #767676
main-blue-strong = #56242A

COLOR_BURGUNDY=#56242A
COLOR_GOLD=#B38E5D
COLOR_GRAY=#767676

body
    font-family 'Bitter', serif
    color main-blue-weak
    
.wrapper
    width 100vw
    height 100vh
    justify-content center
    align-items center
    background-size cover
    background-attachment fixed
    background-image url("/assets/images/bg-2-implan-morena.jpg")
    // background-color #EFEFEF

    .wrapper-login
        height 60vh
        background-color #ffffff
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)
        border-radius 10px

        .login-header
            height 30%
            width 100%
            padding-top 25px
            text-align center
            
            img
                width: 90%
        
        .login-body
            padding-top 50px

        .input-group-text
            background-color #FAFAFA !important
            color main-blue-weak

        .btn-primary
            background-color main-blue !important
            border-color main-blue-weak !important
            border-radius 20px

            &:hover
                background-color main-blue-strong !important

a
.btn-link
    color main-blue-weak

    &:hover
    &:active
    &:focus
        color main-blue-strong