@import 'nib'
vendor-prefixes = o mz ms official webkit

/************************************************************************************************
*
* Variables
*
************************************************************************************************/
// main-blue = #13629D
// main-blue-weak = #60afeb
// main-blue-strong = #0e4671
main-blue = #B38E5D
main-blue-weak = #767676
main-blue-strong = #56242A

COLOR_BURGUNDY=#56242A
COLOR_GOLD=#B38E5D 
COLOR_GRAY=#767676
/************************************************************************************************
*
* Colores para Status
*
************************************************************************************************/
.bg-red 
    background-color #ef5350
    color #fff
.bg-green 
    background-color #66bb6a
    color #fff
.bg-yellow 
    background-color #fbc02d
    color #fff
/************************************************************************************************
*
* Styles in General
*
************************************************************************************************/
/* width */
::-webkit-scrollbar
    width 10px

/* Track */
::-webkit-scrollbar-track
    background rgba(255,255,255,0)
    
/* Handle */
::-webkit-scrollbar-thumb 
    background main-blue
    border-radius 10px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
    background main-blue-strong


body
    color main-blue-weak !important
    font-family 'Bitter', serif

.dataTables_wrapper
    .dt-buttons
        float left

.dataTable
    tbody
        tr
            cursor pointer
            &:hover
                background-color #d2e9f9

textarea
    resize none
    overflow-y hidden

.priority-bar
    height 25px
    border-radius 15px
    margin-bottom 10px
    text-align center
    color #fff
    font-weight bold

.status-bar
    height 25px
    border-radius 15px
    margin-bottom 10px
    text-align center
    color #fff
    font-weight bold

.view-notification-li
    cursor pointer
    &.vi
        background rgba(0,0,0,.01)
    .notification-viewd
        position absolute
        right 5px
        bottom 0px
        color main-blue
.center
    text-align center

.overflow-true
    overflow-y initial !important


.verticalTableHeader 
    text-align center
    white-space nowrap
    transform-origin 50% 50%
    transform rotate(90deg)


.verticalTableHeader:before 
    content ''
    padding-top 110%
    display inline-block
    vertical-align middle

.float-rigth
    float right 

/************************************************************************************************
*
* Bootstrap changes
*
************************************************************************************************/
.sidebar
    min-height calc(100vh - 76px) !important
    background-color #fff !important

#content-wrapper
    background-image url("/assets/images/bg-2-implan-morena.jpg")
    // background-color #EFEFEF
    padding 10px!important
    box-shadow inset 0px 0px 5px 0px rgba(0,0,0,0.3)
    margin-bottom 50px

    .container-fluid
        box-shadow 0px 0px 5px rgba(0,0,0,0.3)
        background-color #fff
        padding 10px
        overflow-y auto
        height 100%

    .panels
        height: calc(100vh - 156px)

        .panel-row
            height 50%
        .panel-full-row
            height 100%
        .panel-top
            border-radius 10px
            box-shadow 0px 0px 5px rgba(0,0,0,0.3)
            background-color #fff
            padding 10px
            overflow-y auto
            h3
                margin 0px
        .panel-buttoms
            padding-top 10px
            .btn
                box-shadow 0px 5px 5px 1px rgba(0,0,0,0.3)
                background-color #fff !important
                border-color #fff !important
                color main-blue !important
                &:hover
                    background-color main-blue-strong !important
                    color #fff !important
        .panel-body
            padding-right 10px
            padding-left 10px
            padding-top 10px
            margin-right auto
            height calc(87vh - 53px)
            margin-left auto

            &.with-buttons
                height calc(87vh - 123px) !important

            .panel-left
                // margin-top 10px
                height 100%
                padding-left 0px
                padding-right 7.5px
                .panel-left-content
                    box-shadow 0px 0px 5px rgba(0,0,0,0.3)
                    background-color #fff
                    border-radius 10px
                    padding 10px
                    overflow-y auto
                    height 100%
                    
            .panel-full
                margin-top 10px
                padding-left 7.5px
                padding-right 7.5px
                .panel-full-content
                    box-shadow 0px 0px 5px rgba(0,0,0,0.3)
                    background-color #fff
                    border-radius 10px
                    padding 10px
                    overflow-y auto
                    height 100%
            
            .panel-right
                margin-top 10px
                padding-right 0px
                padding-left 7.5px
                .panel-right-content
                    box-shadow 0px 0px 5px rgba(0,0,0,0.3)
                    background-color #fff
                    border-radius 10px
                    padding 10px
                    overflow-y auto
                    height 100%
            
            .panel-row-fluid
                box-shadow 0px 0px 5px rgba(0,0,0,0.3)
                background-color #fff
                border-radius 10px
                padding 10px
                overflow-y auto
                height 100%
                
                &.margin-fix
                    margin-left -10px
                    margin-right -10px

.btn
    border-radius 10px

.btn-primary
    background-color main-blue !important
    border-color main-blue !important
    &:hover
        background-color main-blue-strong !important
        border-color main-blue-strong !important
        
.btn-outline-primary
    color: main-blue;
    border-color: main-blue;
    outline none
    &:hover
        color #fff !important
        background-color main-blue-strong !important
        border-color main-blue-strong !important
    &:focus
        box-shadow: initial !important

.btn-outline-danger
    color: #ef5350;
    border-color: #ef5350;
    outline none
    &:hover
        color #fff !important
        background-color #ef5350 !important
        border-color #ef5350 !important
    &:focus
        box-shadow: initial !important

.nav-link
    color main-blue-weak !important

.mr-10
    margin-right 10px

.nav-item
    &:hover
        background-color main-blue
        transition: all 1s
        &>a
            color #fff !important
.nav-item
    &.active
        background-color main-blue
        transition: all 1s
        &>a
            color #fff !important

.dropdown-item
    &:hover
        background-color main-blue
        transition: all 0.5s
        color #fff !important

.sticky-footer
    height 50px !important
    background-color #fff !important

.br-50
    border-radius 50px

.alert-primary
    background-color main-blue !important
    color #fff !important

.list2
    margin-left 30px

.list-group
    margin-bottom 15px
    .list-group-item
        select.form-control
            padding 0.04rem 1em

.btn-border-initial
    border-radius 5px !important

.no-hover
    &:hover
        background-color initial !important
    thead 
        tr:hover
            background-color initial !important

.wd-14
    width 14%
    
.wd-15
    width 15%

.wd-5
    width 5%

.padding-15
    padding: 10px;

.margin-10
    margin-left  -10px !important
    margin-right  -10px !important

.btn-link
    color main-blue !important
    
@media (max-width: 768px)
    .sticky-footer
        width 100% !important

/************************************************************************************************
*
* Styles for navbar and Sidenav
*
************************************************************************************************/

.navbar-brand
    width 7%
    img
        width 100%

.btn-responsive
    color main-blue
    font-size 1.3em

@media (max-width: 768px)
    .navbar-brand
        width 30%


/************************************************************************************************
*
* Styles for Navigation
*
************************************************************************************************/
.fieldset
    border 1px solid main-blue
    .legend
        width initial

.circle
    border-radius 100%

.btn-delete
    position absolute
    top 0px
    right -20px
.btn-back
    position fixed
    z-index 99
.opacity
    opacity 0.5;
    transition opacity 0.7s
    &:hover
        opacity 1

.input-group-prepend
    .btn
        padding .25rem .75rem
        border-radius .25rem

// .input-group
//     .select2
//         width initial

//     // span.select2
//     //     width 90% !important

// .select2
//     width 100% !important

.btn-confirm
    text-transform initial !important
    font-weight initial !important

.alert
    text-align center

.comment
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    background: #e1f5fe;
    margin: 5px 0px;
    &.response
        background: #e0f2f1;
        text-align: right;
        margin: 0 60%;
        width: 40%;


/************************************************************************************************
*
* Input File Drag Files
*
************************************************************************************************/
.simpleFilePreview_multiUI
    width 100% !important
    margin-left 0px !important

.simpleFilePreview
    height 140px !important

.div-evidences
    border 2px solid #fff
    border-radius 4px
    background-color #f2f2f2
    box-shadow 0 0 0 1px #c1c1c1
    position relative
    padding 15px 30px
    ul
        height 130px
        padding 0
        position relative
        left 0
        overflow-x auto
        li
            width 120px
            height 120px
            margin-left 10px
            border 4px solid #fff
            border-radius 3px
            background-color #f7f7f7
            padding 3px
            text-align center
            cursor pointer
            overflow hidden
            box-shadow 0 0 4px 0 #555
            img
                width 100%

.tabs-item
    font-size 20px

.tabs-item.active
    background-color #13629d !important
    color  white !important    

.card .card-image{
    overflow  hidden
    transform-style  preserve-3d
    padding 10px
}

.card .card-image i{
    transition  all 0.4s ease
    font-size 100px
}

.card .card-image hover i{
    transform  scale(1.2) rotate(-7deg)
}

.card{
    text-align center
    margin-top  10px
    position  relative
    box-shadow  4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.card .card-content {
    padding  10px    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size  24px
    font-weight  200    
}

.card .card-action{
    padding  20px
    border-top  1px solid rgba(160, 160, 160, 0.2)
}
.card .card-action a{
    font-size  15px
    color  #ffab40
    text-transform uppercase
    transition  color 0.3s ease
}
.card .card-action a hover{    
    color #ffd8a6
    text-decoration none
}

.card .card-reveal{    
    padding  20px
    position  absolute
    background-color  #FFF
    width  100%
    overflow-y  auto
    left 0
    bottom 0
    height  100%
    z-index  1
    display  none    
}

.card .card-reveal p{
    margin 20px 
}

.btn-custom{
    background-color  transparent
    font-size 18px
    position absolute
    right 0
}

.btn-action-table
    padding 0px 5px !important

.small-font
    font-size 0.8em

.table-footer
    .pagination
        float right
        &>span
            margin-right 10px
            margin-top 10px

    .button-exports
        float left 

.toggle 
    display block !important

.custam-table
    .dataTables_info
        display inline-block
        float right
        margin-right 10px

    .dataTables_paginate 
        display inline-block
        float right
    
    .table-filter-container
        display inline-block
        float left
        margin-top 14px

.small-form
    .form-group
        margin-bottom .5rem !important

#documents-content
    .simpleFilePreview
        display inline-block
    
    ul
        height 140px
        padding 0
        position relative
        left 0
        overflow-x auto
        display inline 
        li
            display inline-block
            width 120px
            height 140px
            margin-left 10px
            border 4px solid #fff
            border-radius 3px
            background-color #f7f7f7
            padding 3px
            text-align center
            cursor pointer
            overflow hidden
            box-shadow 0 0 4px 0 #555
            img
                width 100%

.is-invalid .select2-selection,
.needs-validation ~ span > .select2-dropdown{
  border-color:red !important;
}

.table-invalid
    border 2px solid #ef5350
    border-radius 5px

#requests
    .row
        height 50%
        margin 0px !important
        .col-6
            padding 0px !important
        .col-lft
            padding-right 5px !important
        .col-rgt
            padding-left 5px !important
        .card
            height 100%
    .row-top
        padding-bottom 5px !important
    .row-bot
        padding-top 5px !important
/************************************************************************************************
*
* Leaflet
*
************************************************************************************************/

.leaflet-container 
    background #000 !important

/**********bootstrap monify**********/

@media (min-width: 992px)
    .modal-lg 
        max-width 90vw

.garbage-wrapper    
    max-height 287px
    overflow-y auto